.dashboard-button-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px 8px;
    color: #2D9CDB;

    width: 132px;
    height: 31px;

    background: #FFFFFF;
    border-radius: 4px;
    border-color: #2D9CDB;
    border-width: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
}

.dashboard-button-secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px 8px;
    color: #FFFFFF;

    width: 132px;
    height: 31px;

    background: #2D9CDB;
    border-radius: 4px;
    border-color: #2D9CDB;
    border-width: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
}


.dashboard-button-secondary-teacher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 14px 7px;
    height: 100%;
    max-height: 38px;
    background: #2F80ED;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
}




.header-text {
    font-family: Montserrat;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}
.header-text p{
    font-family: Montserrat;
    margin-bottom: 0;
    color: black;
}

.teacher-name {
    text-align: left;
    margin: 0;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
}
.teacher-name p{
    font-family: Montserrat;
    margin-bottom: 0;
    color: black;
}

.teacher-info {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    color: #2F80ED;
    margin-bottom: 8px;
}
.teacher-info p{
    font-family: Montserrat;
    margin-bottom: 0;
}
.teacher-button{
    border: 1px solid #2D9CDB;
    display: unset;
    width:100%;
    padding: 6px
}

.last-homework{
    font-family: Montserrat;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding-left: 27px;
    padding-right: 77px;
    padding-top: 8px;
}


.date-homework{
    font-family: Montserrat;
    text-align: left;
    font-size: 16px;
    color: #2D9CDB;
    padding: 8px 8px 8px 0px;
}

.text-homework{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #919191;
    margin-bottom: 0;
}

.balance-blck{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-sizing: border-box;
    border-radius: 5px;
}

.balance-text{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin-left: 16px;
    margin-top: 16px;
}

.balance-time{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
    margin-left: 16px;
    margin-top: 7px;
    margin-bottom: 14px;

}

.number-number{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 3px;

}





.dashboard-header-logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #2F80ED;
}

.dashboard-header-profile-image {
    width: 18px;
    height: 18px;
}

.list-group-item {
    padding: 0.5rem !important;
}

.blogs-header-text {
    font-family: Montserrat;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.blogs-header-show {
    font-family: Montserrat;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    position: relative;
}

.blogs-header-show a{
    position: absolute;
    bottom: 3px;
    width: 100px;
    color: #2D9CDB !important;
}

.blogs-header {
    display: flex;
}

.blog-card {
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
    padding: 0.25rem;
}


@media screen and (min-width: 768px) and (max-width: 1413px){
        #teacher-blog {
            padding-left: 15px;
        }
        #wrapper {
            margin-right: 15px;
            margin-left: 0;
        }

}

@media screen and min-width: 1413px){
        #wrapper {
            margin-right: 7%;
            margin-left: 7%;
        }
}

@media screen and (max-width: 1024px){
    .teacher-info {
        font-size: 11px;
        line-height: 9px;
    }

    .dashboard-button-secondary-teacher {
        font-size: 12px;
        line-height: 10px;
        padding: 6px 10px 7px;
        height: 26%;
    }

    #wrapper{
        margin-left: 55px;
    }

}



@media screen and (min-width: 993px){

    .dashboard-button-secondary-teacher {
        height: 27%
    }
}

@media screen and (min-width: 1440px){
    #wrapper {
        margin-left: 15%;
        margin-right: 1%;
    }

    .dashboard-button-secondary-teacher {
        height: 27%
    }

    #wrapper.right-toggled {
        padding-right: 0;
    }

}



@media screen and (max-width: 768px){
        .balance-blck{
            margin-left: 10px;
            margin-bottom: 16px;
        }

        #wrapper.right-toggled {
            padding-right: 0;
            margin-left: 55px;
        }




}


@media screen and (min-width: 1024px) and (max-width: 1440px){
    #wrapper.right-toggled {
        padding-right: 0;
        margin-left: 55px;
    }

}


@media screen and (min-width: 768px) and (max-width: 1440px){
       .fc-col-header-cell-cushion{
           font-size: 1.349vw;
       }

       .fc-h-event{
            font-size: 1.1vw;
       }

}




.fc-day-mon{
    word-break: break-word;

}