.dashboard-button-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px 8px;
    color: #2D9CDB;

    width: 132px;
    height: 31px;

    background: #FFFFFF;
    border-radius: 4px;
    border-color: #2D9CDB;
    border-width: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
}

.dashboard-button-secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px 8px;
    color: #FFFFFF;

    width: 132px;
    height: 31px;

    background: #2D9CDB;
    border-radius: 4px;
    border-color: #2D9CDB;
    border-width: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
}


.header-text {
    font-family: Montserrat;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}
.header-text p{
    font-family: Montserrat;
    margin-bottom: 0;
    color: black;
}

.teacher-name {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
.teacher-name p{
    font-family: Montserrat;
    margin-bottom: 0;
    color: black;
}

.teacher-info {
    font-family: Montserrat;
    text-align: left;
    font-size: 12px;
}
.teacher-info p{
    font-family: Montserrat;
    margin-bottom: 0;
}
.teacher-button{
    border: 1px solid #2D9CDB;
    display: unset;
    width:100%;
    padding: 6px
}

.last-homework{
    font-family: Montserrat;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding-left: 27px;
    padding-right: 77px;
    padding-top: 8px;
}


.date-homework{
    font-family: Montserrat;
    text-align: left;
    font-size: 16px;
    color: #2D9CDB;
    padding: 8px 8px 8px 0px;
}

.text-homework{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #919191;
    margin-bottom: 0;
}

