@media(max-width: 1023px){
	.adaptive-header .nav-user-not-mobile{
		display: none
	}
	.adaptive-header .nav-link{
		justify-content: left
	}
}
@media(min-width: 1024px) and (max-width: 1264px){
	.adaptive-header .nav-link{
		font-size: 11px
	}
}
@media(max-width: 425px){
	.first-lesson-modal .chelic, .ask-modal .chelic, .teach-modal .chelic{
		width: 80%;
	}
	.first-lesson-modal .card-title, .ask-modal .card-title, .teach-modal .card-title{
		font-size: 25px;
	}
}
@media(max-width: 768px){
	.first-lesson-modal .card, .course-modal .card, .teach-modal .card, .ask-modal .card{
		margin-bottom: 0;
	}
	.course-modal .col-8{
		padding-left: 0;
	}
	.course-modal .col-4{
		padding-right: 0;
	}
}
@media(min-width: 768px){
	.first-lesson-modal .btn-primary{
		font-size: large;
	}
}
@media(min-width: 375px) and (max-width: 435px){
	.flex-basis-auto{
		flex-basis: auto;
	}
}
@media(min-width: 1024px){
	.adaptive-header .nav-user-mobile{
		display: none
	}
	.course-modal .blue-card{
		max-width: 350px
	}
	.button-close-modal{
	    margin-top: -41px;
	    width: 50% !important;
	    color: white !important;
	}
}
.button-close-modal{
	border-radius: 0;
	color: #082567;
	width: 100%;
	font-size: 18px;
}
.button-close-modal:hover{
	background: #eb4034;
	color: white;
}
.course-modal-text{
	font-size: medium !important
}
  		.pchovtl{
  		  transition: transform .2s ease-in-out;
  		}
  		.pchovtr{
  		  transition: transform .2s ease-in-out;
  		}
  		.pchovtl:hover {
  		  transform: translate3d(-80px, 0px, 0px);
  		}
  		.pchovtr:hover {
  		  transform: translate3d(80px, 0px, 0px);
  		}
  		.pchov{
  		  transition: transform .2s ease-in-out;
  		}
  		.pchov:hover {
  		  transform: translate3d(0px, -50px, 0px);
  		}
  		.bobobo{
  		font-size: large;
  		}
	  @media (min-width: 1200px){
	    .bebebe{
	    text-align: center;
	    }
	    .bababa{
	    text-align: center;
	    font-size: 31px;
	    }
	    .why{
	    padding-right: 200px !important;
	    padding-left: 200px !important;
	    }
	    .wsmtt{
	    font-size: 23px;
	    margin-left: 0 !important;
	    }
	    .wsmt{
	    font-size: 20px;
	    }
	  }
	  @media(max-width: 1400px){
	  .pararam{
	  	font-size: large !important;
	  	}
	  }
	  @media(min-width: 1440px){
	  	.easystart{
	  		padding-right: 200px;
	  		padding-left: 200px;
	  	}
	  }
	   @media(min-width: 680px) and (max-width: 806px){
	  	.strtany{
			font-size: 1.98rem;
	  	}
	  }

	.appointment-form .form-control::placeholder{
		color: rgb(8, 37, 103) !important;
	}
	.forma .form-control::placeholder{
		color: rgb(8, 37, 103) !important;
		font-size: 18px;
	}
		@media (max-width: 770px){
	  	.tmln{
			margin-bottom: 0px;
	  	}
	  }

	.tmnu{
		width: 60px;
		height: 60px;
		line-height: 60px;
		background: #ffa500;
		margin-left: -0.6em;
		border-radius: 50%;
		text-align: center;
	}
	@media(min-width: 768px){
	  .asasas{
	  width: 40%;
	  }
	  .tmnu{
	    margin-left: 0.05em;
	  }
}


@media (max-width: 767px){
      .fixbut{
        position: fixed;
        z-index: 1;
      }
      }
      .close-page{
      min-width: 0;
      width: 0;
      }

      .blink1 {
  -webkit-animation: blink1 3s linear infinite;
  animation: blink1 3s linear infinite;
}
@-webkit-keyframes blink1 {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}
@keyframes blink1 {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}

.calendar{
	margin:.25em 10px 10px 0;
	float:left;
	width: 95%;
	height: 250px;
	background:#ededef;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc));
	background: -moz-linear-gradient(top,  #ededef,  #ccc);
	font:bold 60px/60px Arial Black, Arial, Helvetica, sans-serif;
	text-align:center;
	color:#000;
	text-shadow:#fff 0 1px 0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position:relative;
	-moz-box-shadow:0 2px 2px #888;
	-webkit-box-shadow:0 2px 2px #888;
	box-shadow:0 2px 2px #888;
	}
	.calendar em{
	display:block;
	font:normal bold 20px/60px Arial, Helvetica, sans-serif;
	color:#fff;
	text-shadow:#00abef 0 -1px 0;
	background:#00abef;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
	}
	.calendar:before, .calendar:after{
	content:'';
	float:left;
	position:absolute;
	top:5px;
	width:8px;
	height:8px;
	background:#111;
	z-index:1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:0 1px 1px #fff;
	-webkit-box-shadow:0 1px 1px #fff;
	box-shadow:0 1px 1px #fff;
	}
.calendar:before{left:11px;}
.calendar:after{right:11px;}
.calendar em:before, .calendar em:after{
	content:'';
	float:left;
	position:absolute;
	top:-5px;
	width:4px;
	height:14px;
	background:#dadada;
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa));
	background:-moz-linear-gradient(top,  #f1f1f1,  #aaa);
	z-index:2;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	}
.calendar em:before{left:13px;}
.calendar em:after{right:13px;}

.reasons .card-group{
    margin-bottom: 120px;
    padding-left: 5%;
    padding-right: 5%;
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .reasons .card-group{
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1439px){
    .reasons .card-group{
        padding-left: 20%;
        padding-right: 20%;
    }
}
@media screen and (min-width: 1440px){
    .reasons .card-group{
        padding-left: 25%;
        padding-right: 25%;
    }
}
@media screen and (min-width: 425px){
    .forma #phone, #name, #email{
        width: 75%;
    }
}
footer .btn-primary{
    color: #232323 !important
}
footer .btn-primary:hover{
    color: white !important
}

@media screen and (min-width: 1463px){
    .clpsmed{
        margin-left: -30%;
        transition-duration: .2s;
    }
}


@media screen and (max-width: 1464px){
    .clpsmed{
        margin-left: -5%;
    }
}

@media screen and (max-width: 346px){
    .cldcard{
        width: 200px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1460px){
    .cldcard{
        min-width: 120px;
        min-height: 217px;
        max-width: 225px;
        max-height: 240px;
    }
}

@media screen and (min-width: 470px) and (max-width: 1024px){
    .cldem{
        margin-bottom: 10%;
    }
}

@media screen and (min-width: 320px) and (max-width: 470px){
    .cldem{
        margin-bottom: 20%;
    }
}

@media screen and (min-width: 1024px){
    .cldem{
        margin-bottom: 20%;
    }
}

@media screen and (min-width: 320px) and (max-width: 328px){
    .btnteach{
        width: 110%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1460px){
    .cldcard{
        min-width: 120px;
        min-height: 217px;
        max-width: 225px;
        max-height: 240px;
    }
}

.btnonln{
    width: 75%;
    position: absolute;
    left: 15%;
    bottom: 5%;
}

.btncontman{
    width: 75%;
    position: absolute;
    left: 15%;
    bottom: 24%;
}

.btnteach{
    width: 75%;
    position: absolute;
    left: 15%;
    bottom: 5%;
}

.btnshdl{
    width: 75%;
    position: absolute;
    left: 15%;
    bottom: 5%;
}

.btnblnc{
    width: 75%;
    position: absolute;
    left: 15%;
    bottom: 5%;
}

@media screen and (min-width: 1024px) and (max-width: 1250px){
    .txtteach{
        margin-bottom: 100% !important;
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1250px){
    .wlcm1{
        font-size: large !important;
    }
    .wlcm2{
        font-size: large !important;
    }
    .crntcrs{
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 1024px){

    .zoom {
        zoom: 1.2;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
    }
}

@media screen and (min-width: 1440px){

    .zoom {
        zoom: 1.4;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
    }
}

@media screen and (max-width: 700px){

    .bookbtn {
        display: none;
    }
}

@media screen and (max-width: 768px){

    .panel p {
        float: none;
        width: 100%;
        clear: right;
        margin: 25px 5px 10px 5px;
        font-size: 19px;
        color: #aaa;
        line-height: 1.2em;
    }
}



.panel {
  width : 100%;
  max-height: 100%;
  position : absolute ;
}
.PanelAct {
  left : 0 ;
}
.panel img {
  width : 100px;
  height : 100px;
  text-align : center ;
  float : left ;
  margin : 30px 25px 25px 25px;
}
/*== Removal Start
png images background
==*/
.panel:nth-of-type(1) img {
    background : #12aedb ;
}
.panel:nth-of-type(2) img {
    background : #db4646 ;
}
.panel:nth-of-type(3) img {
    background : #96c465 ;
}
/*== Removal End==*/

.panel p {
  float : left ;
  width : 720px;
  clear : right ;
  text-align : justify ;
  margin : 25px 0 10px 0;
  font-size : 20px ;
  color : #aaa ;
  line-height : 1.2em
}
.panel h7 {
  float : left;
  width: 150px;
  font-size : 20px ;
  color : #999 ;
  font-weight : bold ;
  font-style : italic ;
  margin-left: 25px;
}
.control {
  position : absolute ;
  bottom : 20px;
  right : 30px;
}
.control span {
  background-color : rgba(0,0,0,0.1) ;
  padding : 5px;
  display : inline-block ;
  vertical-align : top ;
  margin-left : 5px ;
  border-radius : 50%;
  cursor : pointer ;
  transition : 0.3s ease-in
}
.ContActive {
  background-color : #bbb !important ;
}
.inpt:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
}


#join-form {
  margin-top: 10px;
}

.join-info-text {
  margin-bottom: 2px;
}

.player {
  height: 160px;
}

.btnmute{
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.modal-white-header {
    font-family: Jost;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #F7F7F7;
}

.modal-white-text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #F7F7F7;
    margin-bottom: 0;
}

.statistic {
    margin-top: 100px;
    border: 1px solid rgb(130,130,130, 0.125);
    border-radius: 20px;
    margin-right: 0;
    margin-left: 0;
}

.stat-number {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #2F80ED;
    margin-bottom: 0;
}

.stat-text {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 0;
}

.faq-land-question {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #2F80ED;
    background: transparent;
}

.faq-land-answer {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

.faq-land-card {
    background: white;
    border: 0;
    margin-top: 10px;
}

.faq-land-header {
    background: transparent;
    border: 1px solid rgba(47, 128, 237, 0.1);
    border-radius: 6px !important;
}

.program-header {
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
}

.program-text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 0;
}

.program {
    background: white;
    border-radius: 20px;
    padding: 75px;
    text-align: center;
}

.review {
    border-radius: 20px;
    border: 1px solid rgb(0,0,0,0.125);
    padding: 30px;
}

.review-avatar{
    width: 104px;
    height: 104px;
    border-radius: 50px;
}

.review-author {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #333333;
    max-width: 180px;
    margin-left: 20px;
}

.review-text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 18px;
    color: #333333;
}

.review-inst {
    background: #F8F8F8;
    border-radius: 51px;
    height: fit-content;
    margin-left: auto;
    padding: 10px;
}

.review-control {
    background: #F8F8F8;
    border-radius: 190px;
    width: 80px;
    height: 80px;
    top: 35%;
    border: 0;
}

.test-lesson{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.test-lesson-left{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: #2F80ED;
    padding: 80px;
}

.test-lesson-right{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
}

.test-lesson-header {
    font-style: normal;
    font-size: 48px;
    line-height: 69px;
    color: #F7F7F7;
}

.test-lesson-text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #F7F7F7;
    margin-bottom: 0;
}

.test-lesson-button {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    max-height: 55px;
    background: #F2C94C;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #333333;
    border: 0;
    border-radius: 4px;
}

.footer-header {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}

.footer-text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
}

.courses-back-button {
    background: #F8F8F8;
    border-radius: 190px;
    width: 44px;
    height: 44px;
    border: 0;
}

.course-card {
    border-radius: 10px;
    margin-left: 15px;
    padding: 24px;
    max-width: 410px;
    margin-top: 15px;
}

.course-card-header {
    display: flex;
    margin-bottom: 15px;
}

.course-card-header-img {
    width: 70px;
    height: 70px;
    background: #F8F8F8;
    border-radius: 175px;
    display: flex
}

.course-card-header-text {
    font-family: Jost;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
    margin-bottom: 0;
    margin-left: 15px;
}

.course-card-text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 20px;
}

.course-card-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    max-height: 55px;
    background: #FFFFFF;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
}

.course-card:hover {
    border: 1px solid rgb(0,0,0,0.125);
}

.course-card:hover .course-card-button {
    color: #2F80ED;
}

h2 {
    font-family: Jost;
    font-weight: 700 !important;
}
