<footer id="footer-section" class="ftco-section" style="background: #24273C; padding: 7em 0 2em 7em;">
      <div class="test-lesson" style="margin-top: 0">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5 ml-md-4">
                <p class="footer-header" style="margin-bottom: 30px;text-align: left">Студентам</p>
              <ul class="list-unstyled" style="text-align: left" >
                <li><a class="footer-text" href="courses">Курсы</a></li>
                <li><a class="footer-text" href="#scoost">Стоимость</a></li>
                <li><a class="footer-text" href="#sreview">Отзывы</a></li>
                <li><a class="footer-text" href="#">О школе</a></li>
              </ul>
            </div>
          </div>
            <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h2 class="footer-header mb-0 ml-1">Контакты</h2>
            	<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3 ml-1">
                <a style="width: 100%" class="ftco-animate footer-text" href="mailto:help.englishtalk@gmail.co?subject=Вопрос по Englex">help.englishtalk@gmail.com</a>
                <br>
				<li class="ftco-animate footer-text">8 (995) 793-02-03</li>
                    <br>
                    <div class="mt-4">
                <li  class="ftco-animate"><a style="color: #EDF1FA;" href="https://t.me/eng_talk"><span  class="fas fa-paper-plane"></span></a></li>
                <li class="ftco-animate"><a style="color: #EDF1FA;" href="https://instagram.com/English.talk.school" target="_blank"><span class="fab fa-instagram"></span></a></li>
                <li class="ftco-animate"><a style="color: #EDF1FA;" href="#"><span class="fab fa-youtube"></span></a></li>
                    </div>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5 ml-md-4" >
                <h1 class="footer-header">Документы</h1>
                <ul class="list-unstyled">
                <li><a class="footer-text" href="oferta">Публичная оферта</a></li>
                <li><a class="footer-text" href="confidentiality">Политика конфиденциальности</a></li>
              </ul>
            </div>
          </div>
            <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h1 class="footer-header">Преподавателям</h1>
            	<div class="block-23 mb-3">
	              <ul>
                    <li><a href="#" data-toggle="modal" data-target="#reqTeachModal"><button style="padding: 10px 20px" type="button" class="dashboard-button-frst-les">Заказать звонок</button></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
      </div>
    </footer>