<footer class="ftco-footer ftco-bg-dark ftco-section" style="background: #c5cfd8;">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2" style="color: #082567;">Хотите преподавать в онлайн-школе EnglishTalk?</h2>
            	<div class="block-23 mb-3">
	              <ul>
                    <li><a href="#" data-toggle="modal" data-target="#reqTeachModal"><button type="button" class="btn btn-primary" style="border-radius: 0"><h5 style=" color: #082567">Партнерская программа для преподавателей</h5></button></a></li>
	              </ul>
	            </div>
            </div>
          </div>
            <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5 ml-md-4">
                <h2 class="ftco-heading-2" style="color: #082567; margin-bottom: 30px">Студентам</h2>
              <ul class="list-unstyled" >
                <li><a style="color: #082567; font-size: 20px" href="../#scourses">Курсы</a></li>
                <li><a style="color: #082567; font-size: 20px" href="../#scoost">Стоимость</a></li>
                <li><a style="color: #082567; font-size: 20px" href="../#sreview">Отзывы</a></li>
                <li><a style="color: #082567; font-size: 20px" href="#">О школе</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5 ml-md-4" >
              <a href="#" data-toggle="modal" data-target="#reqModal"><button type="button" class="btn btn-primary  mr-5" style="border-radius: 0; color: #082567">Записаться на бесплатное занятие</button></a>
              <ul class="list-unstyled">
                <li><a style="color: #082567; font-size: 20px" href="#">Публичная оферта</a></li>
                <li><a style="color: #082567; font-size: 20px" href="#">Пользовательское соглашение</a></li>
                <li><a style="color: #082567; font-size: 20px" href="#">Политика конфиденциальности</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h2 style="color: #000;" class="ftco-heading-2 mb-0 ml-1">Связаться с нами</h2>
            	<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3 ml-1">
				<li class="ftco-animate" style="color: #082567">8 (995) 793-02-03</li>
               <a class="ftco-animate" style="color: #082567" href="mailto:help.englishtalk@gmail.co?subject=Вопрос по Englex">help.englishtalk@gmail.com</a>
					<br>
                <li class="ftco-animate"><a style="color: #000; background: #6c757d;" href="#"><span class="fab fa-instagram"></span></a></li>
                <li class="ftco-animate"><a style="color: #000; background: #6c757d;" href="#"><span  class="fas fa-paper-plane"></span></a></li>
                <li class="ftco-animate"><a style="color: #000; background: #6c757d;" href="#"><span class="fab fa-youtube"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p style="color: #ddd"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a style="color: #ddd" href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>