{% load static %}
<div data-aos="fade-right">
          <div class=" card text-white bg-danger" style=" border-radius: 0rem;background-color: #a7e3eb !important">
  <div class="row no-gutters">
    <div class="col-md-4" style="text-align: center">
      <img src="{% static "images/chelik.jpg" %}" class="chelic" style="max-height: 300px;max-width: 335.25px">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="padding-top: 0">
		  <div class="row" style="color: #082567">
			  <div class="col flex-basis-auto" style="text-align: center">
				  <div class="col" style="text-align: left">
		  <br>
		  <p class="card-text pararam" style="font-size: 35px; margin-top: 1em;"><b>Познакомимся</b></p>
		  <p class="card-text pararam" style="font-size: 35px;"><b>Определим уровень</b></p>
		  <p class="card-text pararam" style="font-size: 35px; margin-bottom: 1em;"><b>Подберем программу</b></p>
				  </div>
		  </div>
			  <div class="col">
				  <h1 class="card-title pararam" style="font-size: 30px !important;color: #082567;font-weight: 600; text-align: center; margin-top: 20px">Первый урок бесплатно</h1>
		  <p class="card-text pararam" style="text-align: center;padding-top: 7%"><a href="#" data-toggle="modal" data-target="#reqModal"><button class="btn btn-primary pararam" style="font-size: 28px;color: #082567;border-radius: 0"><b>Записаться на<br> бесплатный урок</b></button></a></p>
				  <p class="card-text pararam" style="text-align: center;">Нажимая, вы принимаете <a href="confidentiality" style="color: #082567;"><b>условия соглашения</b></a></p>
		 </div>
		  </div>
      </div>
    </div>
  </div>
</div>
</div>