{%load static%}
<nav class="navbar sticky-top navbar-expand-lg navbar-light fixed-top" style="background-color: #0062cc;width: 100%;padding-top: 0px;padding-bottom: 0px;">
                <a class="navbar-brand" href="../../">EnglishTalk</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="height: 56px;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="padding-top: 14px; padding-bottom: 14px;" href="#">Платформа</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="padding-top: 14px; padding-bottom: 14px;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Курсы
        </a>
        <div class="dropdown-menu" style="background-color: #0062cc; top: 90%;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" style="" href="#">Action</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link" style="padding-top: 14px; padding-bottom: 14px;" href="#">Стоимость</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" style="padding-top: 14px; padding-bottom: 14px;" href="#">Отзывы</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" style="padding-top: 14px; padding-bottom: 14px;" href="#">О школе</a>
      </li>
        <li class="nav-item">
        <a class="nav-text">  </a>
      </li>
        <li class="nav-item">
        <a class="nav-text">  </a>
      </li>
        <li class="nav-item">
        <a class="nav-text">  </a>
      </li>
        <li class="nav-item">
        <a class="nav-text">  </a>
      </li>
        <li class="nav-item">
        <a class="nav-text">  </a>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="padding-top: 14px; padding-bottom: 14px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Контактная информация
        </a>
        <div class="dropdown-menu" style="background-color: #0062cc; top: 90%;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" style="color: rgba(255,255,255,0.9);"> <span class="icon-paper-plane"></span> youremail@email.com</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: rgba(255,255,255,0.9);"><span class="icon-phone2"></span>8 800 555 35 35</a>
        </div>
      </li>
    </ul>
  </div>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img alt="User Avatar" style="width: 40px; height: 40px;" class="rounded-circle user-avatar-xxl" src={% static "images/indus.jpeg" %}>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="background-color: #0062cc; top: 90%;" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="" href="./profile">Личный кабинет</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Оплата</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Выход</a>
                            </div>
                        </li>
                    </ul>
                </div>
        </nav>