{%load static%}
<nav class="navbar sticky-top navbar-expand-lg navbar-light fixed-top" style="background-color: #0062cc;width: 100%;padding-top: 0px;padding-bottom: 0px;box-shadow: 0px 2px 7px 0px black;">
                    <a class="navbar-brand" href="../../">EnglishTalk</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="height: 56px;">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" style="padding-top: 14px; padding-bottom: 14px;" href="#">Платформа</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="padding-top: 14px; padding-bottom: 14px;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Курсы
        </a>
        <div class="dropdown-menu" style="background-color: #0062cc;top: 90%;box-shadow: 0 1px 9px black;overflow-y: scroll; height: 500px;" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="" href="../courses">Все курсы</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="" href="../course/ielts">Подготовка к Ielts</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../course/interview">Cобеседование</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../course/freespeaking">Говорим свободно</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../course/it">Английский для IT</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../course/travel">Для путешествий</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../course/business">Бизнес английский</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../course/exam">Подготовка к ЕГЭ</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../course/engineer">Английский для инженеров</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../course/teen">Английский для подростков</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../course/child">Английский детям</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../course/personally">Персональный курс</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../course/anylevel">Старт с любого уровня</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../course/grammar">Грамматика – это просто</a>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link" style="padding-top: 14px; padding-bottom: 14px;" href="#">Стоимость</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" style="padding-top: 14px; padding-bottom: 14px;" href="#">Отзывы</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" style="padding-top: 14px; padding-bottom: 14px;" href="#">О школе</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" style="padding-top: 14px; padding-bottom: 14px;"><span style="padding-top: 7px; padding-bottom: 7x;" class="fa fa-phone"></span>88005353535</a>
      </li>
        <li class="nav-item">
            <a class="nav-link"><button class="btn btn-primary">Попробовать бесплатно</button></a>
      </li>
    </ul>
  </div>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img alt="User Avatar" style="width: 40px; height: 40px;" class="rounded-circle user-avatar-xxl" src={% static "images/indus.jpeg" %}>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="background-color: #0062cc;top: 90%;box-shadow: 0 1px 9px black;" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="" href="../dashboard">Личный кабинет</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Оплата</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Выход</a>
                            </div>
                        </li>
                    </ul>
                </div>
        </nav>