{% load static %}
<div id="left-sidebar-wrapper">
    <div class="logo mx-auto">
        <p class="mx-auto"><b>English</b>Talk</p>
    </div>
    <div class="user-profile mx-auto">
        <p class="mx-auto my-auto">{{request.user.first_name  | safe}}</p>
        <div class="user-profile-icon my-auto">
            <i class="fa fa-angle-right my-auto"></i>
        </div>
    </div>
      <div class="list-group mx-auto" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="dd0" data-toggle="list" href="#d0" role="tab"><p style="margin-bottom: 0">Личный кабинет</p></a>
          <a class="list-group-item list-group-item-action" id="dd1" data-toggle="list" href="#d1" role="tab"><p style="margin-bottom: 0">Платформа</p></a>
        <a class="list-group-item list-group-item-action" id="dd3" data-toggle="list" href="#d3" role="tab"><p style="margin-bottom: 0">Расписание</p></a>
        <a class="list-group-item list-group-item-action" id="dd5" data-toggle="list" href="#d5" role="tab"><p style="margin-bottom: 0">Видеопрактика</p></a>
          <a class="list-group-item list-group-item-action" id="dd8" data-toggle="list" href="#d8" role="tab"><p style="margin-bottom: 0">Блог</p></a>
      </div>
    </div>
<button class="btn btn-white fixbut" style="border-radius: 0px;position: fixed;left: 0;z-index: 100001;" onclick="tog()" id="menu-toggle"><i class="fa fa-angle-left" id="angle" aria-hidden="true"></i> </button>
