
<img src="https://media.discordapp.net/attachments/678533764586012675/904732339744165968/image_2021-10-15_01-23-13.png?width=624&height=468">
<h2>Ваша заявка на обучение уже в обработке.</h2>
<p>Совсем скоро мы свяжемся с Вами и обсудим все подробности бесплатного занятия!</p>
<p>А пока мы приготовили для Вас личный кабинет,
    где уже сейчас можно ознакомиться с интерфейсом платформы и получить бесплатную подборку полезных материалов.</p>
<h2>Данные для входа в личный кабинет</h2>
<img style="height: 100px" src="https://cdn.discordapp.com/attachments/678533764586012675/734773864260960326/IMG_20200720_170518_582.png">
        <p>Логин: {{email}}</p>
        <p>Пароль: {{password}}</p>
<h2>Войти в личный кабинет по ссылке ниже!</h2>
<a href="https://eng-talk.ru/">https://eng-talk.ru/</a>
<br>
<div>
    <p>Связаться с нами</p>
    <p>8 (995) 793-02-03</p>
    <p><a href="https://www.instagram.com/English.talk.school/" style="margin-right: 20px;" ><img src="https://pngicon.ru/file/uploads/instagram-256x256.png" style="width: 32px;height: 32px"></a><a href="https://t.me/eng_talk" style="margin-right: 20px;"><img src="https://pngicon.ru/file/uploads/telegram.png" style="width: 32px;height: 32px"></a><a href="#" style="margin-right: 20px;"><img src="https://pngicon.ru/file/uploads/youtube-1.png" style="width: 32px;height: 32px"></a></p>
</div>