<!DOCTYPE html>
<html lang="ru">
<head>
    <title>EnglishTalk</title>
	{% load static %}
    <meta charset="utf-8">
    <link rel="shortcut icon" href={% static "images/logotip.png" %}  type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href={% static "css/style.css" %}>
  </head>
<body style="background: #C98C13;
background: -webkit-linear-gradient(top, #C98C13, #9B5FAD);
background: -moz-linear-gradient(top, #C98C13, #9B5FAD);
background: linear-gradient(to bottom, #C98C13, #9B5FAD);">

{% include "header.html" %}
<section class="ftco-section testimony-section" style=" height: 100%; background: #C98C13;
background: -webkit-linear-gradient(bottom, #C98C13, #9B5FAD);
background: -moz-linear-gradient(bottom, #C98C13, #9B5FAD);
background: linear-gradient(to top, #C98C13, #9B5FAD);">
<div class="card" style="margin-top:80px">
{% if validlink %}
    <div class="auth" align="center">
        <h2>Введите (и подтвердите) новый пароль.</h2>
        <form action="" method="post">
            {% csrf_token %}
            <input type="password" id="new_password1" name="new_password1" class="form-control" placeholder="Новый пароль">
            <input type="password" id="new_password2" name="new_password2" class="form-control" placeholder="Подтвердите пароль">
            <ul>
                <li><h5 align="left">Ваш пароль должен состоять не менее чем из 8 символов</h5></li>
                <li><h5 align="left">Ваш пароль должен обязательно содержать одну цифру, одну букву в верхнем регистре</h5></li>
            </ul>

            <input type="submit" class="btn btn-success" style="width:100%" value="Изменить пароль" >
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="height:50px">
                Проверьте правильность введённого пароля!
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
        </form>
    </div>
    {% else %}
         <div class="alert alert-danger alert-dismissible fade show" role="alert" align="center" style="height:100%, width:100%">
               <h3>Ошибка смены пароля</h3>
                <h3>Ссылка восстановления парола больше недействительна, возможно она уже использовалась. Пожалуйста, запросите смену пароля снова.</h3>
            </div>
    {% endif %}
</div>
</section>

<script src={% static "js/jquery.min.js" %}></script>
<script src={% static "js/jquery-migrate-3.0.1.min.js" %}></script>
<script src={% static "js/bootstrap.min.js" %}></script>
<script src={% static "js/main.js" %}></script>
</body>
</html>