<!DOCTYPE html>
<html lang="ru" style="height: 100%">
<head>
    <title>Сброс пароля</title>
	{% load static %}
    <meta charset="utf-8">
    <link rel="shortcut icon" href={% static "images/logotip.png" %}  type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href={% static "css/style.css" %}>
    <link rel="stylesheet" href={% static "css/main.css" %}>
    <link rel="stylesheet" href={% static "css/dashboard.css" %}>
    <link rel="stylesheet" href={% static "css/simple-sidebar.css" %}>
  </head>
<body style="height: 100%; background: #adadad">
{% include "header.html" %}
                        <div class="card mx-auto mt-5" style="max-width: 370px;">
                            <h5 class="card-title mt-2 mx-auto">Восстановление пароля</h5>
                            <div class="input-group mb-3">
                                <div class="auth mx-auto" align="center">
                                    <form action=""  method="post">
                                        {% csrf_token %}
                                        <p class="account-input-label">E-mail</p>
                                        <input type="email" id="email2" name="email" style="width: 100%" class="account-input" required>
                                        <input type="submit" class="dashboard-button-secondary-teacher" style="margin-top: 20px" value="Восстановить пароль">
                                        {% if form.email.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    {{ form.email.errors }}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                        {% endif %}
                                    </form>
                                 </div>
                            </div>
                        </div>
<script src={% static "js/jquery.min.js" %}></script>
<script src={% static "js/jquery-migrate-3.0.1.min.js" %}></script>
<script src={% static "js/bootstrap.min.js" %}></script>
<script src={% static "js/main.js" %}></script>
</body>
</html>