<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Сброс пароля</title>
	{% load static %}
    <meta charset="utf-8">
    <link rel="shortcut icon" href={% static "images/logotip.png" %}  type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href={% static "css/style.css" %}>
  </head>
<body>
{% include "header.html" %}
<h2>Мы отправили инструкцию по восстановлению пароля на вашу почту. Если в течение нескольких минут ничего не пришло, проверьте спам.</h2>


</body>
</html>