<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Сброс пароля</title>
	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href={% static "css/style.css" %}>
  </head>
<body style="height: 100%; background: rgba(216, 107, 69, 1.0);
background: -webkit-linear-gradient(top, rgba(216, 107, 69, 1.0), rgba(74, 84, 190, 1.0));
background: -moz-linear-gradient(top, rgba(216, 107, 69, 1.0), rgba(74, 84, 190, 1.0));
background: linear-gradient(to bottom, rgba(216, 107, 69, 1.0), rgba(74, 84, 190, 1.0));">
{% include "header.html" %}
    <section class="ftco-section testimony-section" style=" height: 100%; background: rgba(216, 107, 69, 1.0);
background: -webkit-linear-gradient(bottom, rgba(216, 107, 69, 1.0), rgba(74, 84, 190, 1.0));
background: -moz-linear-gradient(bottom, rgba(216, 107, 69, 1.0), rgba(74, 84, 190, 1.0));
background: linear-gradient(to top, rgba(216, 107, 69, 1.0), rgba(74, 84, 190, 1.0));">
                        <div class="card" style="max-width: 370px; margin-left: 40%">
                            <h5 class="card-title mt-2 mx-auto">Восстановление пароля</h5>
                            <div class="input-group mb-3">
                                <div class="auth" align="center">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="text" id="email" name="email" class="form-control"  placeholder="Ваш Email" style="width:100%; border-radius: 40px">
                                        <input type="submit" class="btn btn-primary mt-1" value="Восстановить пароль" style="width:100%">
                                        {% if form.email.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    {{ form.email.errors }}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                        {% endif %}
                                    </form>
                                 </div>
                            </div>
                        </div>
    </section>
<script src={% static "js/jquery.min.js" %}></script>
<script src={% static "js/jquery-migrate-3.0.1.min.js" %}></script>
<script src={% static "js/bootstrap.min.js" %}></script>
<script src={% static "js/main.js" %}></script>
</body>
</html>